@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url('../fonts/Raleway-ExtraLight.woff2') format('woff2');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Effra-Trial';
  src: url('../fonts/Effra_Trial_Hair.woff2') format('woff2');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
