@use 'vars'as *;

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  @extend %effra-100;
  font-size: clamp(0.75rem, 0.68rem + 0.36vw, 1rem);
  line-height: 1.19;
  color: $color-accent;
  background-color: #fff;
  &.scroll-lock {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.page-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 0;
  border: 1px solid #000;
  border-radius: 15px;
  width: clamp(200px, 157.14px + 13.39vw, 350px);
  color: #000;
  text-transform: uppercase;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.contact-btn {
  width: clamp(200px, 157.14px + 13.39vw, 350px);
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
  border-radius: 15px;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.logo-podcast {
    border: 1px solid #000;
    border-radius: 16px;
    padding: 10px;
    color: #000;
    width: 60px;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
  }
