@use 'vars'as *;

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  @extend %effra-100;
  font-size: 14px;
  line-height: 1.19;
  color: $color-accent;
  background-color: #fff;
  &.scroll-lock {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.page-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 0;
  border: 1px solid #000;
  border-radius: 15px;
  width: 300px;
  color: #000;
  text-transform: uppercase;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.contact-btn {
  width: 300px;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #000;
  border-radius: 15px;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}
