$color-accent: #f3f3f3;
$accent-bg: rgba(#d9d9d9, 0.9);

%raleway-200 {
  font-family: 'Raleway-ExtraLight', sans-serif;
  font-weight: 200;
}

%effra-100 {
  font-family: 'Effra-Trial', sans-serif;
  font-weight: 100;
}
