<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <p class="logo-podcast">
        ідем на букви
      </p>
      <div class="footer__contacts">
        <a class="footer__contacts-location contact-btn" href="https://maps.app.goo.gl/PXVkKVgf18jY8inR8"
          target="_blank" rel="noopener noreferrer">
          <svg width="20" height="20">
            <use xlink:href="images/sprite.svg#footer-geo"></use>
          </svg>
          <span>
            м. Одеса
            вул. Канатна, 6
          </span>
        </a>
        <a class="footer__contacts-number contact-btn" href="tel:+380661478027">
          <svg width="20" height="20">
            <use xlink:href="images/sprite.svg#footer-phone"></use>
          </svg>
          <span>
            +380 66 147 80 27
          </span>
        </a>
      </div>
      <a class="footer__donate page-btn" href="https://buymeacoffee.com/idemnabukvy" target="_blank"
        rel="noopener noreferrer">
        <svg width="20" height="20">
          <use xlink:href="images/sprite.svg#footer-donate"></use>
        </svg>
        <span>підтримати проект</span>
      </a>
    </div>
  </div>
</footer>