<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="https://youtube.com/@idemnabukvy?si=TElPtRd6m7SC7mzu">
        <img class="header__logo-img logo-podcast" src="images/podcast-logo.svg" alt="Логотип подкасту Ідем на букви" width="60"
          height="60">
      </a>
      <a class="header__booking page-btn" href="https://t.me/SoulcutsBot" target="_blank" rel="noopener noreferrer">
        <span>запис на стрижку</span>
        <svg width="24" height="24">
          <use xlink:href="images/sprite.svg#book-telegram"></use>
        </svg>
      </a>
      <img class="header__soulcuts" src="images/header-soul.svg" alt="Логотип барбершопу Soulcuts"
        height="60">
      <button class="header__btn" type="button" aria-label="open menu button">
        <span></span>
      </button>
    </div>
    <div class="header__menu">
      <div class="header__menu-shop">
        <span>чоловіча</span>
        <div class="header__menu-logo" id="lottie-logo""></div>
        <span>перукарня</span>
      </div>
      <div class="header__menu-contacts">
        <a class="header__menu-contact contact-location" href="https://maps.app.goo.gl/PXVkKVgf18jY8inR8" target="_blank" rel="noopener noreferrer">
          <svg width="20" height="20">
            <use xlink:href="images/sprite.svg#footer-geo"></use>
          </svg>
          <span>
            м. Одеса
            вул. Канатна, 6
          </span>
        </a>
        <a class="header__menu-contact contact-number" href="tel:+380661478027">
          <svg width="20" height="20">
            <use xlink:href="images/sprite.svg#footer-phone"></use>
          </svg>
          <span>
            +380 66 147 80 27
          </span>
        </a>
      </div>
    </div>
  </div>
</header>